<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta charset="UTF-8">
    <title>注册页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>

    <link rel="stylesheet" th:href="@{css/all.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.2/js/amazeui.min.js"></script>

    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<!--网站头部-->
<header th:replace="commons/blog_bar::header"></header>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>注册</h3>
        <hr>
        <div id="register_big">
            <div id="register_clear">
        <form id="registerForm" class="am-form">
            <label for="phone">手机号:</label>
            <div class="input-group-addon"><span class="fa fa-phone fa-lg"></span></div>
            <input type="text" name="phone" id="phone" placeholder="快来注册个手机号吧~">
            <span id="phone_null" class="icons am-icon-warning" style="color: orange">手机号不能为空！</span>
            <span id="phone_error" class="icons am-icon-times" style="color: red">请输入正确的手机号格式</span>
            <div id="phone_warn" class="input_warn" style="color: orange">
                <span>该手机号已存在！</span>
            </div>
            <br>
            <label for="username">用户名:</label>
            <div class="input-group-addon"><span class="fa fa-user fa-lg"></span></div>
            <input type="text" name="username" id="username" placeholder="快来起个用户名吧~">
            <span id="username_null" class="icons am-icon-warning" style="color: orange">用户名不能为空！</span>
            <div id="username_warn" class="input_warn" style="color: orange">
                <span>该用户名已存在</span>
            </div>
            <br>
            <label for="password">密码:</label>
            <div class="input-group-addon"><span class="fa fa-lock fa-lg"></span></div>
            <input type="password" name="password" id="password" placeholder="悄悄的输入你的密码哦">
            <span id="password_null" class="icons am-icon-warning" style="color: orange">密码不能为空！</span>
            <div class="input_warn" style="color: red">
                <span>密码错误</span>
            </div>
            <br>
            <label style="margin-top: 15px">性别:</label>
            <div class="am-form-group radio_input">
                <label class="am-radio-inline">
                    <input type="radio"  name="gender" value="male" data-am-ucheck> 男
                </label>
                <label class="am-radio-inline">
                    <input type="radio" name="gender" value="female" data-am-ucheck> 女
                </label>
                <div class="gender_null">
                    <span id="gender_null" class="icons" style="color: red">就不能告诉我你是GG还是MM么 o(╥﹏╥)o</span>
                </div>
            </div>
            <br>
        </form>
            <div class="am-u-sm-12" style="padding: 0">
                <input type="submit" id="registerFormBtn" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl" style="border-radius: 5px">
                <a th:href="@{/login}" type="button" class="am-btn am-btn-default am-btn-sm am-fr" style="border-radius: 5px">
                    去登录页~
                </a>
            </div>
            </div>
        </div>

    </div>

</div>


<hr/>
<div class="am-g">
    <div class="am-u-sm-2"></div>
    <div class="am-u-sm-6 am-u-sm-offset-5">
        <!--网站尾部-->
        <footer th:replace="commons/blog_bar::footer"></footer>
    </div>

    <script th:src="@{js/register.js}"></script>
    <script th:src="@{js/all.js}"></script>
</body>
</html>
